.git
.github
.venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
outputs
samples
imgs
test
*.wav
*.m4b
*.mp3
*.mp4
cover
chapters.txt
poetry.lock
.idea
.vscode
.DS_Store
node_modules
dist
build
*.egg-info
